* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #f2e2ce;
    position: relative;
    font-family: Arial, sans-serif;
}

.header {
    padding: 10px;
    background: #f2e2ce;
    color: #8e8d8a;
    display: flex;
    vertical-align: middle;
    align-items: center;
    line-height: 2;
    font-size: 14px;
    box-shadow: 0 0 12px 1px #8e8d8a;
}
.header .logo {
    display: flex;
    align-items: center;
}

.header .logo span {
    padding-right: 10px;
    border-right: 2px solid #e85a4f;
}

.header .logo img {
    max-width: 50px;
    margin-right: 5px
}

.header .linkText {
    color: #e98074;
    margin-left: 10px;
    margin-right: 10px;
    background: no-repeat;
    border: none;
    padding: 0;
}
.header .linkText:hover {
    color: #e85a4f;
}

.mainDiv {
    margin: 30px 20px;
    background: #8e8d8a;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.mainDivUsers {
    padding: 30px 20px;
}

.mainDivUsers .table-bordered>tbody>tr>td,
.mainDivUsers .table-bordered>tbody>tr>th,
.mainDivUsers .table-bordered>tfoot>tr>td,
.mainDivUsers .table-bordered>tfoot>tr>th,
.mainDivUsers .table-bordered>thead>tr>td,
.mainDivUsers .table-bordered>thead>tr>th,
.mainDivUsers .table-bordered {
    border: 0.5px solid #8e8d8a;
}

.mainDivUsers td {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.mainDivUsers .table-bordered {
    background: #f8f6f3;
}

.mainDivUsers .table-striped>tbody>tr:nth-of-type(odd) {
    border-color: #8e8d8a;
    background: #eae7dc;
}

.panel-body button {
    background: #e98074;
    border-color: #e85a4f;
    color: #eae7dc;
}

.panel-body button:hover {
    background: #e85a4f;
    border-color: #e85a4f;
    color: #eae7dc;
}

.editLink {
    color: #e98074;
}
.removeLink {
    color: #e85a4f;
}

.editLink:hover, .removeLink:hover {
    color: #8e8d8a;
}

.videoDiv {
    display: block;
    text-align: center;
    width: 60%;
    height: 450px;
    background: #000;
    position: relative;
}


div#logger {
    position: absolute;
    bottom: 4px;
    color: #8e8d8a;
    font-size: 12px;
    left: 35%;
}

.videoDiv video {
    width: 100% !important;
    height: 100% !important;
}

.form-style {
    min-width: 250px;
    max-width: 400px;
    height: auto;
    border: 1px solid #e85a4f;
    text-align: center;
    padding: 0 20px 20px;
    margin: 15vh auto 0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #8e8d8a;
}

.form-style h1, .form-style a {
    color: #8e8d8a;
}

.form-input {
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #e85a4f;
    height: 34px;
}

.button {
    background: #e85a4f;
    color: #f2e2ce;
    border: 1px solid #e85a4f;
}

.button:hover {
    background: #f2e2ce;
    color: #e85a4f;
    border: 1px solid #e85a4f;
}

.chatDiv {
    width: 40%;
    padding-left: 2%;
    display: flex;
    flex-flow: column;
    max-height: 450px;
}

.message-container-wrapper {
    height: 100%;
    overflow-y: scroll;
    background: #e98074;
}

div#message-container {
    height: 92%;
    background: #e98074;
    color: #f2e2ce;
    display: flex;
    flex-flow: column;
    justify-content: end;
    padding: 10px;
    height: auto;
}

.chatDiv .chatForm {
    height: 8%;
    display: flex;
    justify-content: space-between;

}

.chatDiv .chatForm input {
    width: 70%;
    height: 100%;
    border: 0;
    padding: 6px 12px;
    margin-right: 2%;
    background: #f2e2ce;
    color: #e85a4f;
}

.chatDiv .chatForm input::placeholder {
    color: #e85a4f;
}

.chatDiv .chatForm button {
    background: #e85a4f;
    color: #f2e2ce;
    width: 25%;
    border: 0;
    height: 100%;
}

.mainDivUsers h2 {
    margin: 20px auto 20px;
    text-align: center;
    color: #e85a4f;
}

form.tokenForm, form.userForm {
    padding: 20px;
    border: 1px solid #e85a4f;
    border-radius: 10px;
    width: 40%;
    margin: 0 auto 30px;
    min-width: 440px;
}

form.tokenForm .panel-body, form.userForm .panel-body{
    padding: 0;
    display: flex;
    justify-content: end;
}

form.tokenForm button, form.userForm button {
    width: 49%;
}

button.add {
    margin-right: 2%;
    background: #e85a4f;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #e85a4f;
    border-radius: 20px;
    height: 5px;
    width: 5px;
}