<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" type="text/css" href="styles/style.css" /></head>

    </head>
<body>
<header class="header">
    <span class="logo">
      <img src="styles/nodejs.png"/>
      <span>By KZ</span>
    </span>
    <button class="linkText" onclick="goToUsers()">Users</button>
    <button class="linkText" onclick="goToTokens()">Tokens</button>
    <button class="linkText" onclick="logout()">Logout</button>
</header>
<div class="mainDiv">
    <div class="videoDiv">
        <video src="" id="video"  autoplay="true"></video>
        <div id="logger" class="logger"></div>
    </div>
    <div class="chatDiv">
        <div class="message-container-wrapper">
            <div id="message-container"></div>
        </div>
        <div class="chatForm">
            <input placeholder="write a message" type="text" id="message">
            <button type="button" name="button" onclick="sendMessage()">Send</button>
        </div>
    </div>

    <canvas style="display:none;" id="preview"></canvas>
</div>


</body>
<script type="text/javascript">
    const canvas = document.getElementById("preview");
    const context = canvas.getContext('2d');

    canvas.width = 900;
    canvas.height = 700;

    context.width = canvas.width;
    context.height = canvas.height;

    const video = document.getElementById("video");

    const socket = io('', {transports : ['websocket', 'polling'] })

    function logger(msg){
        const logger = document.getElementById('logger')
        logger.innerText = msg;
    }

    function loadCamera(stream){
    try {
        video.srcObject = stream;
    } catch (error) {
        video.src = URL.createObjectURL(stream);
    }
        logger("Camera connected");
    }
        function loadFail(){
        logger("Camera not connected");
    }

    function viewVideo(video,context){
        context.drawImage(video,0,0,context.width,context.height);
        socket.emit('stream',canvas.toDataURL('image/webp'));
    }

    (function () {
        navigator.getUserMedia = ( navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msgGetUserMedia );

        if(navigator.getUserMedia){
            navigator.getUserMedia({video: true, audio: false},loadCamera,loadFail);
        }

        setInterval(function(){
            viewVideo(video,context);
        },5);
    })();

    // ----- messages -----
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) === 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    const getUserFromUrl = () => {
        const y = getCookie('userId').split('"')
        return  y[1]
    }

    const goToUsers = () => {
        const userId = getUserFromUrl()
        window.location.href = `/users.html?${userId}`;
    }
    const goToTokens = () => {
        const userId = getUserFromUrl()
        window.location.href = `/tokens.html?${userId}`;
    }

    async function logout() {
        try {
            const response = await fetch('api/auth/logout');
            const data = await response.json();
            if (data.result === 'SUCCESS') {
                console.log('User logout operation success.');
                window.location.href = `/index.html`;
                // location.reload();
            } else {
                console.log('User logout operation error (message: ' + data.message + ').');
            }
        } catch(e) {
            console.error('Request error!',e);
        }
    }

    async function GetUser(id) {
        const response = await fetch("/api/users/" + id, {
            method: "GET",
            headers: { Accept: "application/json" },
        });
        if (response.ok === true) {
            return response.json();
        }
    }

    async function GetMessages() {
        const response = await fetch("api/messages", {
            method: "GET",
            headers: { Accept: "application/json" },
        });
        if (response.ok === true) {
            const messages = await response.json();
            const user = await GetUser(getUserFromUrl())

            if(messages && user) {
                messages.forEach((message) => {
                    let messageContent
                    if(user.email === message.email) {
                        messageContent = `<div style="text-align:right"> ${message.message} <b>:${user.username}</b></div>`
                    }
                    if(user.email !== message.email) {

                        messageContent = `<div style="text-align:left"><b>${message.username}:</b> ${message.message}</div>`
                    }
                    document.getElementById('message-container').innerHTML += messageContent
                });
            }
        }
    }

    async function CreateMessage(email, message, username) {
        const response = await fetch(`api/messages`, {
            method: "POST",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                email: email,
                message: message,
                username: username,
            }),
        });
        if (response.ok === true) {
            const message = await response.json();
            return message
        }
    }

    const sendMessage = async () => {
        const user = await GetUser(getUserFromUrl())

        const msg = document.getElementById('message').value;
        if(msg && user) {
            socket.emit('msg', {message: msg, user: user.username});
        }
    }

    socket.on('newmsg', async (data) => {
        const user = await GetUser(getUserFromUrl())

        if(user) {
        await CreateMessage(user.email,  data.message, data.user)
        document.getElementById('message-container').innerHTML +=
            `<div style="text-align:right"> ${data.message} <b>:${user.username}</b></div>`
        }
        const msg = document.getElementById('message');
        msg.value = ''
    })

    GetMessages()
</script>
</html>